/*********COMMON BASIC DISPLAY*********/

body {
    margin:0;
	font-family: 'Work Sans' ;
	font-size: 14px;
    line-height: 1;
    background-color: #ffffff;
}
.main-container {
	width: 100%;
    min-height: 960px;
	font-family: 'Work Sans' ;
	font-size: 14px;
    background-color: rgba(255, 254, 248, 1);
    line-height: 1;
}
li:hover, .forgotten-password:hover, footer>p:hover {                    
	color: #B1663C;
}
.click-me-button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
    height: 36px;
    border: none;
}
.pointer {
	cursor: pointer;
}
.hover:hover {
	background-color: rgba(14, 47, 40, 1);
}
.disabled {
	background-color: #A7A7A7;
}

/*********Header*********/

header {
	display: flex;
    max-width: 1140px;
    margin: auto;
	justify-content: space-between;
	padding: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
    justify-content: space-around;
    height: 42px;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 5%;
    font-weight: initial;
}
ul {
    display: flex;
	align-items: center;
	list-style: none;
}
li {
	padding: 0 22px;
	font-size: 1.2em;
}
#login {                                    
    font-weight: bold;
}
.instagram-logo {
    height: 22px;
}


/*********Main*********/

main {
	max-width: 1140px;
	margin: auto;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
    display: flex;
    justify-content: center;
    margin: 0;
}
#email, #password {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    height: 51px;
    width: 379px;
}


/*********Footer*********/

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1140px;
    height: 60px;  
    margin: auto; 
}
footer>p {
	padding: 0 22px;
    font-weight: 300;
}


/*********INDEX PAGE*********/
/*********Main*********/

#edition-banner {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 59px;
	background-color: black;
	color: white;
}
section {
	margin: 50px 0
}
#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
	margin-bottom: 100px;
}
figure {
	margin: 0;
	position: relative;
}
#introduction img {
	max-width: 474px;
}
#introduction article {
	max-width: 404px;
}
#introduction h2 {
	margin-bottom: 1em;
	display: inherit;
}
#introduction p {
	margin-bottom: 0.5em;
	color: #3D3D3D;
}
#portfolio-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: none;
}
#portfolio h2 {
	text-align: center;
}
#portfolio-edit {
	display: none;
	align-items: center;
	text-align: center;
	gap: 10px;
}
.portfolio-edit {
	color: #000000;
}
#categories-picture {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 3em auto;
}
.filter-button {
	font-family: 'Syne';
	font-weight: 700;
	color:  #1D6154;
	background-color:rgba(255, 254, 248, 1);
	padding: 0px 8px;
	height: 37px;
	width: fit-content;
	min-width: 100px;
	text-align: center;
	border-radius: 60px ;
	border-color: #1D6154;
}
.filter-button:focus {
	color: rgba(255, 254, 248, 1);
	background-color: #1D6154;
}
.gallery {
	width: 84%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin: auto;
}
.gallery img {
    width: 100%;
	height: 408.15px;
	object-fit: cover;
}
figcaption {
	color: #3D3D3D;
	padding-top: 4px;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact p {
	color: #3D3D3D;
}
#contact form {
	align-items: center;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#name {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 379px;
}
#message {
	width: 379px;
}
#contact label {
    text-align: left;
    display: block;
    width: 379px;
    margin: 2em 0 0.5em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	margin : 2em auto ;
}

/*********Modal*********/

#modal {
    display: none;
	flex-direction: column;
	width: 630px;
	height: fit-content;
	border: none;
	border-radius: 10px;
}
#modal::backdrop {
    background-color: rgba(0, 0, 0, 0.3)
}
hr {
	width: 67%;
	height: 1px;
	border: none;
	background-color: #B3B3B3;
}
#modal-title {
	display: flex;
	justify-content: center;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 50px;
}
.fa-solid {
	display: flex;
	color: #000000;
}
.step-1, .step-2 {
	display: flex;
	flex-direction: column;
}
#go-to-add-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 237px;
	margin: 40px auto 30px;
	font-size: 14px;
	padding: 0px 8px;
	min-width: 100px;
}
.fa-xmark {
	justify-content: end;
	font-size: 16px;
}
.fa-arrow-left {
	font-size: 18px;
}

/********* Modal Step-1 *********/

.gallery.step-1 {
    width: 67%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin-bottom: 70px;
}
#img-modal {
	height: 102.57px;
}
#trashContainer {
	display : flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	background-color: black;
	width: 17px;
	height: 17px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.fa-trash-can {
	color: white;
	font-size: 11px;
}

/********* Modal Step-2 *********/

#modal-navigation {
	display: flex;
	justify-content: space-between;
}
.blueContainerForPicture {
	margin: auto;
	width: 67%;
	height: 169px;
	background-color: #E8F1F6;
	position: relative;
}
#preview-container {
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
 	height: 100%;
	gap: 7px;
  	overflow: hidden;
}
#preview-container img {
  max-height: 169px;
  max-width: 100%;
  object-fit: contain;
}
.fa-image {
	color: #B9C5CC;
	font-size: 76px;
}
#size-file-instruction {
	font-size: 10px;
	color: #444444;
	margin: 0;
}
#add-picture-button {
	position: relative;
	font-weight: 500;
	font-size: 14px ;
	color:#306685;
	border: none;
	border-radius: 50px;
	background-color: #CBD6DC;
	height: 36px;
	width: 41%;
}
#add-picture-input {
	display: none;
	position: relative;
	z-index: -1;
}
.newWork-form {
	display: flex;
	flex-direction: column;
	margin: 20px auto 0 auto;
	gap: 2px;
	width : 67%;
}
#newWorkTitle, #newWorkCategory {
	height: 51px;
	border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #444444;
	background-color: white;
	font-family: 'Work Sans';
	font-size: 14px;
	padding: 0 25px;
	margin-bottom: 20px;
}
#validateNewWork {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 237px;
	margin: 30px auto;
	font-size: 14px;
	padding: 0px 8px;
	min-width: 100px;
}